{% extends 'base.html' %}
{% block title %}
    <title>viewbook</title>
    {% endblock  %}
{% block content %}
<h1><center>BOOK LIST</center></h1>
{{books}}       <!-- all  data from books-->
<div class="container w-75 mt-3 p-5">
    <table class ="table table-bordered">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Languages</th>
            <th>Pages</th>
            <th>Cover</th>
            <th>Actions</th>
        </tr>
        {% for b in books %}
        <tr>
            <td>{{ b.Title }}</td>
            <td>{{ b.Author }}</td>
            <td>{{ b.Price }}</td>
            <td>{{ b.Language }}</td>
            <td>{{ b.Pages }}</td>
            <td><img src="{{ b.Image.url}}"height="150px" width="150px"></td>
            <td><a class="btn btn-light me-4" href="{% url 'books:bookdetail' b.id %}">Detail</a>
                <a class="btn btn-light me-4" href="{% url 'books:editbook' b.id%}">Edit</a>
                <a class="btn btn-light me-4" href="{% url 'books:deletebook' b.id %}">Delete</a></td>

        </tr>
        {% endfor %}
    </table>
    <!--<ol>-->
        <!--{% for b in books %}-->
        <!--<li>Book Details</li>-->
        <!--<ul>-->
        <!--<li>Title-{{ b.Title }}</li>-->
        <!--<li>Author-{{ b.Author }}</li>-->
        <!--<li>Price-{{ b.Price }}</li>-->
        <!--<li>Language-{{ b.Language }}</li>-->
        <!--<li>Pages-{{ b.Pages }}</li>-->
        <!--</ul>-->
        <!--{% endfor %}-->
    <!--</ol>-->

</div>

<!--{% for b in books %}-->
    <!--<p>{{ b.Title }}</p>-->
    <!--<p>{{ b.Author }}</p>-->
    <!--<p>{{ b.Pages }}</p>-->
    <!--<p>{{ b.Price }}</p>-->
    <!--<p>{{ b.Language }}</p>-->
    <!--<p>{{ b.Image }}</p>-->
<!--<hr>-->
{% endfor %}
{% endblock %}